.artwork {
    height: 862px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.art_title{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.art_title h2{
    margin: 0;
    font-size: 46px;
    width: 50%;
}
.artwork ul{
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.card_art{
    height: 80%;
    width: 25%;
    background-color: #131E3A;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_img{
    width: 90%;
    display: flex;
    align-self: center;
    justify-self: center;
}
.card_desc{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
 .card_title{
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }
.card_title h6{
    font-size: 24px;
}
.card_title div{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-between;
}
.card_timing{
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.left_time{
    height: 60%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ending{
    color:gray;
}
.clock{
    height: 35%;
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
.yellow_text {
    color: #D6EF0E;
}
.btn_yellow {
    width: 143px;
    height: 48px;
    background-color: #D6EF0E;
    border-radius: 15px;

    margin: 0;
}

.btn_yellow a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.btn_bid{
    width: 143px;
        height: 48px;
        background-color: rgba(1,1,1,0.0);
        border-radius: 15px;
        border: #D6EF0E 1px solid;
        margin: 0;
        color: #D6EF0E;
        font-size: 16px;
}